
#root {
    $navbar-background-color:#fff;
    $button_bg_color: #1946B8;
    $button_txt_color: #fff;
    $desc_txt_color: #0e0e0e;
    $background-color: #fff;
    $footer-background-color: #fff;
}

@mixin button_style {
    padding: 10px 15px 10px 15px;
    background-color: var(--button_bg_color);
    color: var(--button_txt_color);
    border-radius: 20px;
    border: 0;
    cursor: pointer;
}

@mixin desc_text {
    font-size: 20px;
    color: var(--desc_txt_color);
}

@mixin footer_links{
    @include desc_text();
    text-decoration: none;

    &:hover{
        text-decoration: underline;
        color: #1946B8
    }
}

.theme_button {
    @include button_style();
}

.navbar_top {
   background-color: var(--navbar-background-color);
   display: flex;
   gap: 1vw;
   align-items: center;
   
}

.search_bar_home{
    width: 25vw;
    height: 25px;
    display: flex;
    cursor: pointer;
    padding: 10px 20px;
    background-color: whitesmoke;
    border-radius: 30px;
    align-items: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.search_bar_home input{
    width:25vw;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.5s;
    background: transparent;
    font-size: large;
}

.signUpContainer{
    padding-top: 10vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    height: 90vh;
}

.signUpFooterContainer{
    margin-top: auto;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 160px;
    background-color: var(--footer-background-color);
    p{
        @include desc_text();
    }

    a{
        @include footer_links();
    }
}

.signUpFooterTop{
    display: flex;
    gap: 10px;
}

.signUpFormContainer{
    margin-top: 5vh;

    
}

.formForm{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    input {
        width: 15vw;
        height: 4vh;
        padding-left: 10px;
        padding-right: 10px;
        background-color: var(--background-color);
        border-style: solid;
    }

    button {
        width: 15vw;
        height: 4vh;
        padding-left: 10px;
        padding-right: 10px;
        background-color: #e69538;
        border-style: solid;
        border-color: var(--desc_txt_color);
            
    }
}