
#root {
    $navbar-background-color:#fff;
    $button_bg_color: #1946B8;
    $button_txt_color: #fff;
    $desc_txt_color: #0e0e0e;
    $background-color: #fff;
    $footer-background-color: #fff;
    $p_txt_color: #0e0e0e;
    $main-background-color: #fff;
}

@mixin button_style {
    padding: 10px 15px 10px 15px;
    background-color: var(--button_bg_color);
    color: var(--button_txt_color);
    border-radius: 20px;
    border: 0;
    cursor: pointer;
}

@mixin desc_text {
    font-size: 15px;
    color: var(--desc_txt_color);
}

@mixin footer_links{
    @include desc_text();
    text-decoration: none;

    &:hover{
        text-decoration: underline;
        color: #1946B8
    }
}

.theme_button {
    @include button_style();
}

.navbar {
    height: 70px;
    background-color: var(--navbar-background-color);

}

.navbar_top {
    padding-top: 4px;
   display: flex;
   gap: 1vw;
   align-items: center;
   margin-left: 20px;
   
}

.search_bar_home{
    width: 25vw;
    height: 25px;
    display: flex;
    cursor: pointer;
    padding: 10px 20px;
    background-color: whitesmoke;
    border-radius: 30px;
    align-items: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.search_bar_home input{
    width:25vw;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.5s;
    background: transparent;
    font-size: large;
}

.signUpContainer{
    padding-top: 10vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    height: 90vh;

    button {
        width: 15vw;
        height: 4vh;
        padding-left: 10px;
        padding-right: 10px;
        background-color: #e69538;
        border-style: solid;
        border-color: var(--desc_txt_color);
        margin-top: 10px;
        margin-bottom: 10px;
        cursor: pointer;
    }

    p {
        color: var(--p_txt_color);
       }

    h2 {
        color: var(--p_txt_color);
        margin-top: 10px;
        font-size: 20px;
    }

    span {
        color: var(--p_txt_color);
        cursor: pointer;
       }
       
       span:hover{
        color: #1946B8;
       }
}

.signUpFooterContainer{
    margin-top: auto;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 10vh;
    background-color: var(--footer-background-color);
    p{
        @include desc_text();
    }

    a{
        @include footer_links();
    }
}

.signUpFooterTop{
    display: flex;
    gap: 10px;
}

.signUpFormContainer{
    // margin-top: 3vh;
}

.formForm{
    margin-top: 4vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    input {
        width: 17vw;
        height: 5vh;
        padding-left: 10px;
        padding-right: 10px;
        background-color: var(--background-color);
        border-style: solid;
        color: var(--p_txt_color);
    }

   p {
    color: var(--p_txt_color);
   }

  

    .error_validation {
        p{
            color: red;
        }
    }   

}

.subscribe_checkbox {
    width: 15vw;
    display: flex;
    gap: 10px;
    justify-content: start;

    label{
        color: var(--p_txt_color);
        font-size: 15px;
    }

    input {
        width: auto;
        padding: 0px 0px 0px 0px;
    }

}

.button_navbar_container {
    padding: 3px 10px 3px 10px;
    border-radius: 25px;
    border-style: none;
    display: flex;
    align-items: center;
    background-color: var(--button_bg_color);
    color: var(--button_txt_color);
    gap: 10px;
    height: 30px;
    cursor: pointer;
    p {
        // color: var(--p_txt_color);
        font-weight: 100;
        font-size: 10px;
    }

    h1 {
        // color: var(--p_txt_color);
        font-size: 15px;
    }

    .button_navbar_text {
        display: flex;
        flex-direction: column;
    }
}

.admin_home_container{
    padding: 5vw 5vh;
}

.admin_home_top {
    display: grid;
    grid-area: "admin_button" "admin_button"
               "admin_button" "admin_button";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    .admin_home_button {
        button {
            @include button_style();
        }
    }
}

.slider_container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;

    div{
        width: 100vw;
        height: 400px;

    }

    .slider_button_left {
        background: none;
        font-size: 100px;
        font-weight: 100;
        color: #8b8b8b;
        border-style: none;
        width: auto;
        height: auto;
        position: absolute;
        left: 20%;
        z-index: 1;
        margin-left: 30px;

        &:hover{
            background-color: #ffffff34;
            border-radius: 20px;
        }
    }
    
    .slider_button_right {
        background: none;
        font-size: 100px;
        font-weight: 100;
        color: #8b8b8b;
        border-style: none;
        width: auto;
        height: auto;
        position: absolute;
        right: 0%;
        margin-right: 30px;
        z-index: 1;

        &:hover{
            background-color: #ffffff34;
            border-radius: 20px;
        }
    }
    
}

.edit_carousel_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;

    .carousel_mid_container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;

        .edit_carousel {
            border-style: solid;
            display: flex;
            justify-content: center;
            align-items: center;
            border-color: #8b8b8b;
            padding: 10px 10px 10px 10px
        }

        button {
            @include button_style();
        }
    }

    input[type="file"] {
        color: #1946B8;
    }

}

.big_big_container {
    height: 100%;
    background-color: var(--main-background-color);
}

.top_home_page {

}

.popular_categories_container {
    width: 100%;
    height: 6.6%;
    display: flex;
    justify-content: center;

    .popular_categories {
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: auto;
        padding-left: 5px;
        padding-right: 5px;
    
        p {
            @include desc_text();
            font-size: 13px;
        }

        &:hover{
            background-color: #5a5a5a;
        }
    }
}


.popular_container {
    position: absolute;
    z-index: 3;
    height: 70vh;
    background-color: var(--main-background-color);
    margin-left: 2vw;
    width: 18vw;
}

.input_file_container {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-around;
    width: 30%;


    input[type="file"]::file-selector-button {
        @include button_style();
    }
  
    button {
        @include button_style();
    }

}

.voucher_balance_container {
    margin-top: 40px;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    gap: 10px;
    

    .voucher_balance_input {

        p {
            @include desc_text();
        }

        input {
            width: 17vw;
            height: 5vh;
            padding-left: 10px;
            padding-right: 10px;
            background-color: var(--background-color);
            border-style: solid;
            color: var(--p_txt_color);
        }

    }
    button {
        @include button_style();
    }
}

.home_container {
    padding-left: 20px;
    height: 100vh;
    p {
        @include desc_text();
        font-weight: 700;
    }

    div {
        button {
            @include button_style();
            background-color: red;
            color: white;
        }
    }

    button {
        @include button_style();
    }
}

.input_voucher_container {
    height: 100vh;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    input {
            width: 17vw;
            height: 5vh;
            padding-left: 10px;
            padding-right: 10px;
            background-color: var(--background-color);
            border-style: solid;
            color: var(--p_txt_color);
        }

    button {
        @include button_style();
    }
}

.all_user_container {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    .user_container {
        padding-left: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
        display: flex;
        flex-direction: column;
        border-style: solid;
        width: 30vw;
    }

    p {
        color: var(--p_txt_color);
    }

    h1 {
        font-size: 25px;
        color: var(--p_txt_color);
    }

    .user_ban_buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        button {
            width: 100px;
            @include button_style();
        }

        .ban_buttons {
            background-color: red;
        }
    }
}

